/* Google Fonts | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #313131;
    --title-color-after: rgb(20, 82, 159);
    --text-color: #000000;
    --text-color-light: #737387;
    --color-gray: #F1F2F4;
    --primary-transition:0.37s;
}

body {
    font-family: IngoStem, Arial, Verdana, Courier, serif;
    font-weight: 400;
    font-size: 1rem;
}

.title-color {
    color: var(--title-color) !important;
}

.title-color-after {
    color: var(--title-color-after) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.w-26 {
    width: 26%;
}

.w-35px {
    width: 35px;
}

.w-56px {
    width: 56px;
}
.h-35px {
    height: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.fs-6 {
    font-size: 1.25rem !important;
}

.fs-7 {
    font-size: 1rem !important;
}

.fs-8 {
    font-size: 0.875rem !important;
}

.fs-9 {
    font-size: 0.75rem !important;
}

.w-max-content {
    width: max-content !important;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none {
    outline: none;
}

.transition {
    transition: .4s;
}

.fs-title {
    font-size: 2.25rem;
}

.fs-title-sec {
    font-size: 1.625rem;
}

input,
button {
    outline: none;
}

.border-none {
    border: none;
}

.transparent{
    background: transparent;
}

.primary-hover:hover{
    color: var(--bs-primary) !important;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ==================== Loader | Omonjon ==================== */
.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: var(--bs-white);
    display: grid;
    place-items: center;
    z-index: 100;
}

.load .load-gif {
    width: 100%;
    height: 100%;
}

/*=============== Maxsus imkoniyatalar ===============*/
/*=============== toggle effects ===============*/
html.blind {
    filter: grayscale(1) invert(0);
    -webkit-filter: grayscale(1) invert(0);
    -moz-filter: grayscale(1) invert(0);
    -o-filter: grayscale(1) invert(0);
    background-color: darkgrey;
    background-image: none;
    color: #333 !important;
}

#toggleThemeMode[type=checkbox],
#toggleVoiceMode[type=checkbox] {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.darkmode .label,
.voicemode .label {
    display: flex;
    width: 60px;
    height: 30px;
    border: 2px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.darkmode .label:before,
.voicemode .label:before {
    transition: transform 0.5s ease;
    transition-delay: 0s;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #000;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

#toggleThemeMode[type=checkbox]:checked+.label:before,
#toggleVoiceMode[type=checkbox]:checked+.label:before {
    transform: translateX(30px);
    background-color: var(--bs-dark);
}

#toggleThemeMode[type=checkbox]:checked+.label,
#toggleVoiceMode[type=checkbox]:checked+.label {
    background-color: var(--bs-primary);
}

.noDefalult {
    width: auto;
    display: inline-block;
    cursor: default;
    position: relative;
    color: #212529 !important;
    padding: 0 !important;
}

.btn-voice,
#voiceSelect {
    display: none;
}

.btn-voice {
    z-index: 999;
    border: 2px solid var(--bs-dark);
    border-radius: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.visibility-hidden {
    visibility: hidden !important;
}

.user-select {
    user-select: none !important;
}

/*=============== voice ===============*/
.icon-voice {
    background: var(--bs-primary);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 50%;
}

.decremet {
    font-size: 10px;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.decremet.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment {
    font-size: 24px;
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment.visibile-hide {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.increment,
.decremet,
.autoSize {
    width: 40px;
    height: 40px;
    background-color: var(--bs-primary);
    color: var(--bs-secondary) !important;
    transition: 0.3s ease;
    border-radius: 8px;
    border: 1px solid var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border: none !important;
}

.dropdown-not-close .dropdown-item:hover,
.dropdown-not-close .dropdown-item:focus {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-primary) !important;
}


/* ==================== Header | Omonjon ==================== */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header .primary-hover:hover i {
    color: var(--bs-primary);
}

.nice-select-default {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.btn-close:focus {
    box-shadow: none;
}

.dropdown-arrow.show::after {
    transform: rotate(-135deg);
}

.dropdown-arrow:hover:after,
.dropdown-arrow:focus:after{
    border-color: var(--bs-primary);
}

.dropdown-arrow::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    border-left: initial !important;
    border-top: initial !important;
    content: "";
    display: block;
    height: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 55%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    /* transition: all .15s ease-in-out; */
    transition: var(--primary-transition);
    width: 6px;
}